@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100&family=Roboto:wght@100&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  color: black;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF2E7;

}
.navbar{
  padding: 20px 10px;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  position: sticky;
  top: -10px;
  backdrop-filter: blur(5px);
}

.navbar h1{
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  position: static;
  right: 0;
  font-weight: bold;
}

.navbar .links{
  position: absolute;
  right: 0;
}


.navbar .links li{
  display: inline;
}

.navbar .links a{
  color: black;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.Content{
  margin: 0 3rem;
  padding: 30px 0;
  position: flex;
  display: block;
  text-align: center;
}

 .FormLogin h2, label{
  background-color: #A4826D;
  color: white;
 }

 .FormLogin p{
  color: white;
  background-color: #A4826D;
 }
 .FormLogin form{
  color: white;
  background-color: #A4826D;
 }

 .FormLogin input{
  margin: 2px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
 }